<section class="bg-white dark:bg-gray-900 mt-6">
    <div class="container py-10 mx-auto">
        <div class="lg:flex lg:-mx-6">
            <div class="lg:w-3/4 lg:px-6">
                <img class="object-cover object-center w-full h-80 xl:h-[28rem] rounded-xl" src="https://images4.alphacoders.com/133/1333697.jpeg" alt="">

                <div>
<!--                    <p class="mt-6 text-sm text-blue-500 uppercase">Sun 95</p>-->

                    <h1 class="max-w-lg mt-4 text-2xl font-semibold leading-tight text-gray-800 dark:text-white">
                        Sun 95
                    </h1>

<!--                    <div class="flex items-center mt-6">-->
<!--                        <img class="object-cover object-center w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">-->

<!--                        <div class="mx-4">-->
<!--                            <h1 class="text-sm text-gray-700 dark:text-gray-200">Amelia. Anderson</h1>-->
<!--                            <p class="text-sm text-gray-500 dark:text-gray-400">Lead Developer</p>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>

            <div class="mt-8 lg:w-1/4 lg:mt-0 lg:px-6 h-80 xl:h-[28rem] overflow-y-auto">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

                <div class="flex items-center gap-x-2">
                    <img class="object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">

                    <div>
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                        <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
                    </div>
                </div>

                <hr class="my-4 border-gray-200 dark:border-gray-700">

            </div>
        </div>
    </div>
</section>
