<div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 lg:max-w-4xl mt-32">
  <div class="hidden bg-cover lg:block lg:w-1/2" style="background-image: url('https://images.unsplash.com/photo-1606660265514-358ebbadc80d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80');"></div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full px-6 py-8 md:px-8 lg:w-1/2">
      <div class="flex justify-center mx-auto">
        <img src="../../../assets/student-svgrepo-com.svg" class="h-10" alt="Flowbite Logo" />
      </div>

      <p class="mt-3 text-xl text-center text-gray-600 dark:text-gray-200">
          Welcome back!
      </p>

      <div class="flex items-center justify-between mt-4">
          <span class="w-1/5 border-b dark:border-gray-600 lg:w-1/4"></span>

          <a href="#" class="text-xs text-center text-gray-500 uppercase dark:text-gray-400 hover:underline">login
              with email</a>

          <span class="w-1/5 border-b dark:border-gray-400 lg:w-1/4"></span>
      </div>

      <div class="mt-4">
          <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200" for="LoggingEmailAddress">Email Address</label>
          <input formControlName="email" id="LoggingEmailAddress" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300" type="email" />
        <p
          *ngIf="isFieldValid('email', 'required')"
          class="mt-1 text-xs text-red-500"
        >
          Email is required
        </p>
      </div>

      <div class="mt-4">
          <div class="flex justify-between">
              <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200" for="loggingPassword">Password</label>
              <a href="#" class="text-xs text-gray-500 dark:text-gray-300 hover:underline">Forget Password?</a>
          </div>

          <input formControlName="password" id="loggingPassword" class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300" type="password" />
        <p
          *ngIf="isFieldValid('password', 'required')"
          class="mt-1 text-xs text-red-500"
        >
          Password is required
        </p>
      </div>

      <div class="mt-6">
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
              Sign In
          </button>
      </div>

      <div class="flex items-center justify-between mt-4">
          <span class="w-1/5 border-b dark:border-gray-600 md:w-1/4"></span>

          <a href="#" class="text-xs text-gray-500 uppercase dark:text-gray-400 hover:underline">or sign up</a>

          <span class="w-1/5 border-b dark:border-gray-600 md:w-1/4"></span>
      </div>
  </form>
</div>
