<section
  class="flex flex-col w-full px-6 md:justify-between md:items-center md:flex-row"
>
  <div>
    <h2 class="text-3xl font-medium text-gray-800">
      IBN SINA HIGH SCHOOL
    </h2>
    <p class="mt-2 text-sm text-gray-500">Manager dashboard</p>
  </div>
  <div class="flex flex-col mt-6 md:flex-row md:-mx-1 md:mt-0">
    <div class="flex flex-col mt-6 md:flex-row md:-mx-1 md:mt-0">
      <!-- Modal toggle -->
      <button
        data-modal-target="crud-modal"
        data-modal-toggle="crud-modal"
        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        type="button"
      >
        Register New Teacher
      </button>
    </div>
    <!-- </div> -->
    <!-- Register a teacher -->
    <app-register-a-teacher></app-register-a-teacher>
  </div>
</section>

<section class="bg-white mt-6">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl"
    >
      Teachers
    </h1>
    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4"
    >
      <!--Card starts-->
      <div
        *ngFor="let teacher of teachers"
        class="flex flex-col items-center p-8 transition-colors duration-300 transform cursor-pointer group hover:bg-green-600 rounded-xl border border-gray-500"
      >
        <img
          class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
          src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          alt=""
        />

        <h1
          class="mt-4 text-2xl font-semibold text-gray-700 capitalize group-hover:text-white"
        >
          {{ teacher.firstname }} {{ teacher.lastname }}
        </h1>

        <p
          class="mt-2 text-gray-500 capitalize group-hover:text-gray-300"
        >
          Java/Angular Developer
        </p>

        <div class="flex mt-3 -mx-2">
          <span class="group-hover:text-gray-300">Sun 95</span>
        </div>
        <button (click)="onClick(teacher.id)" data-modal-target="crud-modal1"
                data-modal-toggle="crud-modal1"
                type="button"><i class="fa-solid fa-pen-nib mt-4 text-gray-700 bg-gray-300 rounded-full p-2"></i></button>
      </div>
      <!--Card ends-->
    </div>
  </div>
</section>

<div class="mt-5 mx-auto w-fit">
  <div class="flex items-center">
    <!-- Previous Page Button -->
    <button
      class="bg-gray-200 px-4 py-2 rounded-l"
      [disabled]="isFirstPage()"
      (click)="onPageChange({ page: currentPage - 1, rows: limit })"
    >
      Previous
    </button>

    <!-- Page Numbers -->
    <div class="flex">
      <button
        *ngFor="let page of pages"
        class="bg-gray-200 px-4 py-2"
        (click)="onPageChange({ page: page, rows: limit })"
      >
        {{ page + 1 }}
      </button>
    </div>

    <!-- Next Page Button -->
    <button
      [disabled]="isLastPage()"
      class="bg-gray-200 px-4 py-2 rounded-r"
      (click)="onPageChange({ page: currentPage + 1, rows: limit })"
    >
      Next
    </button>
  </div>
</div>

<div
  id="crud-modal1"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3
          class="text-lg font-semibold text-gray-900"
        >
          Assign a teacher to a class
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-toggle="crud-modal1"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="teacherClassForm" (ngSubmit)="onSubmit()" class="p-4 md:p-5">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2">
            <label
              for="classId"
              class="block mb-2 text-sm font-medium text-gray-900"
            >Specialty</label
            >
            <select
              formControlName="classId"
              id="classId"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
            >
              <!--              <option [selected]="true">Select specialty</option>-->
              <option *ngFor="let aClass of classes" [value]="aClass.id" [selected]="classes.indexOf(classes[0]) == 0">{{ aClass.name }}</option>
            </select>
            <p
              *ngIf="isFieldValid('classId', 'required')"
              class="mt-1 text-xs text-red-500"
            >
              Class is required
            </p>
          </div>
        </div>
        <button
          [disabled]="teacherClassForm.invalid"
          type="submit"
          class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          <svg
            class="me-1 -ms-1 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Save
        </button>
      </form>
    </div>
  </div>
</div>
