<div
        id="crud-modal1"
        tabindex="-1"
        aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div
                    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
            >
                <h3
                        class="text-lg font-semibold text-gray-900"
                >
                    Note absent for a student
                </h3>
                <button
                        type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                        data-modal-toggle="crud-modal1"
                >
                    <svg
                            class="w-3 h-3"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 14"
                    >
                        <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form [formGroup]="absentForm" (ngSubmit)="onSubmit()" class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label
                                for="duration"
                                class="block mb-2 text-sm font-medium text-gray-900"
                        >Duration</label
                        >
                        <input
                                formControlName="duration"
                                type="number"
                                name="duration"
                                id="duration"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                required=""
                        />
                        <p
                                *ngIf="isFieldValid('duration', 'required')"
                                class="mt-1 text-xs text-red-500"
                        >
                            Duration is required
                        </p>
                    </div>
                    <div class="col-span-2">
                        <label
                                for="durationType"
                                class="block mb-2 text-sm font-medium text-gray-900"
                        >Duration Type</label
                        >
                        <select
                                id="durationType"
                                formControlName="durationType"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                        >
                            <option *ngFor="let durationType of durationTypes" [value]="durationType">{{ durationType }}</option>
                        </select>
                        <p
                                *ngIf="isFieldValid('subjectId', 'required')"
                                class="mt-1 text-xs text-red-500"
                        >
                            Duration Type is required
                        </p>
                    </div>
                    <div class="col-span-2">
                        <label
                                for="reason"
                                class="block mb-2 text-sm font-medium text-gray-900"
                        >Reason</label
                        >
                        <input
                                formControlName="reason"
                                type="text"
                                name="reason"
                                id="reason"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                required=""
                        />
                        <p
                                *ngIf="isFieldValid('reason', 'required')"
                                class="mt-1 text-xs text-red-500"
                        >
                            Reason is required
                        </p>
                    </div>
                  <div class="flex items-center mb-4">
                    <input id="default-radio-1" formControlName="isJustified" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                    <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900">Is Justified</label>
                  </div>
                    <div class="col-span-2">
                        <label
                                for="class"
                                class="block mb-2 text-sm font-medium text-gray-900"
                        >Class</label
                        >
                        <select
                                id="class"
                                (change)="onChange($any($event.target).value)"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                        >
                            <option *ngFor="let aClass of classes" [value]="aClass.id">{{ aClass.name }}</option>
                        </select>
                    </div>
                    <div class="col-span-2">
                        <label
                                for="studentId"
                                class="block mb-2 text-sm font-medium text-gray-900"
                        >Student</label
                        >
                        <select
                                id="studentId"
                                formControlName="studentId"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                        >
                            <option *ngFor="let student of classStudents" [value]="student.id">{{ student.firstname }} {{ student.lastname }}</option>
                        </select>
                        <p
                                *ngIf="isFieldValid('studentId', 'required')"
                                class="mt-1 text-xs text-red-500"
                        >
                            Student is required
                        </p>
                    </div>
                </div>
                <button
                        [disabled]="absentForm.invalid"
                        type="submit"
                        class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >
                    <svg
                            class="me-1 -ms-1 w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                clip-rule="evenodd"
                        ></path>
                    </svg>
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
